<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<p>
<%= form_tag(beetles_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Beetle" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
</p>

<p>

  <%= link_to "Log in", new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>

</p>


<h1>Welcome to my Beetle Hunt app!</h1>

