


<p>
  <strong>User:</strong>
  <%= @beetle.user.email if @beetle.user %>
</p>

<p>
  <strong><%= image_tag @beetle.image.url(:medium) %></strong>

</p>

<p>
  <strong>Nickname:</strong>
  <%= @beetle.nickname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @beetle.address %>
</p>

<p>
  <strong>Year:</strong>
  <%= @beetle.year %>
</p>

<p>
  <strong>Color:</strong>
  <%= @beetle.color %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @beetle.engine %>
</p>

<p>
  <strong>Interior:</strong>
  <%= @beetle.interior %>
</p>


<% if @beetle.user == current_user %>
  <%= link_to 'Edit', edit_beetle_path(@beetle) %>
<% end %>

<%= link_to 'Back', beetles_path %>
